@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    background-color: #000000;
    
}

#lightBeam {
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1000px;
    height: 100%;
}

#lightBeam_cover.lightBox_off {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 2;
}

#lightBeam_cover.lightBox_on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
}

#lightBeam_body.lightBox_on {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5cd2f90;
    clip-path: polygon(20% 0%, 80% 0%, 100% 90%, 0% 90%);
    animation: animate_smoothApper 1s ease;
}

#lightBeam_action_body.lightBeam_body_Acchonburike {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbff0075;
    filter: brightness(100%);
    animation: animate_lightBeam_action 3s ease infinite alternate;
}

#lightBeam_bottom.lightBox_on {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5cd2f;
    clip-path: ellipse(50% 8% at 50% 90%);
    animation: animate_smoothApper 1s ease;
}

#lightBeam_action_bottom.lightBeam_body_Acchonburike {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("./img/crawl/insert_coin.png");
    background-size: auto 5%;
    background-position-y: 18.5%;
    background-repeat: repeat;
    animation: animate_lightBeam_bottom_action 3s ease infinite alternate;
}

#lightBeam_bottom_shadow.lightBox_on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 8;
    clip-path: ellipse(37% 3% at 50% 91%);
    transition: background-color 3s ease;
}

#lightBox.lightBox_on {
    position: absolute;
    z-index: 10;
    top: 5%;
    right: 3%;
    background-image: url("./img/light/popper_cover.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    aspect-ratio: 600 / 600;
    filter: grayscale(0%);
}

#lightBox.lightBox_on::after {
    content: "";
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    opacity: 0.3;
    -webkit-filter: blur(10px);
    -webkit-transform: scale(0.7, 0.2);
}

#lightBox.lightBox_off {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 48%;
    background-image: url("./img/light/popper_cover.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    aspect-ratio: 600 / 600;
    transition: top 3s, left 3s, transform 1s;
}

.light_Acchonburike {
    animation: animate_light_Acchonburike 1s ease;
}

#lightBox.lightBox_off>#lightBox_String {
    z-index: 14;
    position: absolute;
    top: 93%;
    left: -1%;
    width: 10%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.815);
    clip-path: polygon(0% 0%, 100% 7%, 100% 18%, 0% 18%);
}

#lightBox.lightBox_off>#lightBox_String>#lightBox_String_tip {
    z-index: 14;
    position: absolute;
    top: 2.6%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(255, 0, 0);
    cursor: progress;
}

#lightBox.lightBox_off::after {
    content: "";
    position: absolute;
    z-index: 9;
    top: 50%;
    left: -19%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(206, 205, 205);
    opacity: 0.3;
    -webkit-filter: blur(10px);
    -webkit-transform: scale(1.1, 0.2);
}

#lightBox.lightBox_off.light_Acchonburike::after {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: -19%;
}
#lightBeam_animateOptionBack.lightBox_on{
    
    z-index: 5;
    position: fixed;
    top: 4.0%;
    right: 9.5%;
    width: 4%;
    aspect-ratio: 600 / 600;
    background-image: url('./img/backgroundAll/floorE.png');
    background-size: contain;
    filter: sepia(0.9);
}
#lightBeam_animateOption.lightBox_on.lightBeam_animateOption_on {
    position: fixed;
    z-index: 10;
    top: 5%;
    right: 10%;
    background-image: url("./img/light/colorful_tv.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3%;
    aspect-ratio: 600 / 600;
}

#lightBeam_animateOption.lightBox_on.lightBeam_animateOption_on:hover {
    background-image: url("./img/icon/icon_pause.png");
    cursor: none;
}

#lightBeam_animateOption.lightBox_on.lightBeam_animateOption_off {
    position: fixed;
    z-index: 10;
    top: 5%;
    right: 10%;
    background-image: url("./img/light/off_tv.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3%;
    aspect-ratio: 600 / 600;
}

#lightBeam_animateOption.lightBox_on.lightBeam_animateOption_off:hover {
    background-image: url("./img/icon/icon_play.png");
    cursor: none;
}
#lightBeam_musicOptionBack.lightBox_on{
    
    z-index: 5;
    position: fixed;
    top: 13.0%;
    right: 9.5%;
    width: 4%;
    aspect-ratio: 600 / 600;
    background-image: url('./img/backgroundAll/floorE.png');
    background-size: contain;
    filter: sepia(1);
}
#lightBeam_musicOption.lightBox_on.lightBeam_musicOption_on {
    position: fixed;
    z-index: 10;
    top: 14%;
    right: 10%;
    background-image: url("./img/icon/icon_music_on.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3%;
    aspect-ratio: 600 / 600;
    transform-origin: bottom;
    filter: saturate(4);
    animation: animate_scrwalMachine_saking 1s ease infinite;
}

#lightBeam_musicOption.lightBox_on.lightBeam_musicOption_on:hover {
    background-image: url("./img/icon/icon_pause.png");
    cursor: none;
    animation: none;
}

#lightBeam_musicOption.lightBox_on.lightBeam_musicOption_off {
    position: fixed;
    z-index: 10;
    top: 14%;
    right: 10%;
    background-image: url("./img/icon/icon_music_off.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3%;
    aspect-ratio: 600 / 600;
}

#lightBeam_musicOption.lightBox_on.lightBeam_musicOption_off:hover {
    background-image: url("./img/icon/icon_play.png");
    cursor: none;
}

#lightBeam_musicOption.lightBox_on+#lightBeam_musicOption_volum {
    z-index: 10;
    position: fixed;
    width: 5%;
    aspect-ratio: 300/50;
    top: 21%;
    right: 9%;
    background-color: transparent;
    box-shadow: inset #f5cd2f 1px;
    border-radius: 30px;
    box-sizing: border-box;
}

#lightBeam_musicOption.lightBox_on+#lightBeam_musicOption_volum>#lightBeam_musicOption_volum_bar {
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: #f5cd2f;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    line-height: 1em;
    font-family: 'Righteous';
    clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%);
}

#lightBeam_musicOption.lightBox_on+#lightBeam_musicOption_volum>#lightBeam_musicOption_volum_button {
    z-index: 15;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 83%;
    cursor: pointer;
}

#animationBox_bubble {
    z-index: 10;
    position: absolute;
    top: 65%;
    left: 81.4%;
    width: 14%;
    aspect-ratio: 1/1;
}

#animationBox_bubble>.bubble {
    display: none;
}

#animationBox_bubble>.bubble.animating {
    z-index: 11;
    display: block;
    border: 3px solid #f5cd2f;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    animation: animate_bubble 3s ease infinite;
}

#scrawlMachine.scrawlMachine_on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    aspect-ratio: 600 / 813;
    background-color: transparent;
    z-index: 10;
}
#scrawlMachine.scrawlMachine_on + #scrawlMachineBack{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    aspect-ratio: 600 / 813;
    background-color: transparent;
    z-index: 3;
    transform: translateX(-135%);
    filter: blur(5px) brightness(40%) saturate(6);
    
    background-image: url('./img/backgroundAll/back.png');
    
}
#scrawlMachine.scrawlMachine_on + #scrawlMachineBack+#scrawlMachineBack2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    aspect-ratio: 600 / 813;
    background-color: transparent;
    z-index: 3;
    transform: translateX(135%);
    filter: blur(5px) brightness(40%) sepia(0.3);
    
    background-image: url('./img/backgroundAll/back.png');
}
#scrawlMachine.scrawlMachine_on + #scrawlMachineBack2{
    transform: translateX(+135%);
}

#scrawlMachine.scrawlMachine_on.scrawlMachine_Acchonburike {
    transform-origin: bottom;
    
    animation: animate_scrwalMachine_saking 3s ease infinite;
}

#scrawlMachine.scrawlMachine_off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    aspect-ratio: 600 / 813;
    background-color: transparent;
    z-index: -1;
}

#bigbox-bottom-shadow {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: -5%;
    width: 110%;
    height: 50%;
    background-color: rgb(102, 101, 101);
    clip-path: ellipse(50% 9% at 50% 95.5%);
}

#bigbox {
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('./6.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 15px; */
    top: 0;
    bottom: 0;
    display: flex;
    border-radius: 5px;
    /* border: 3px solid black; */
    justify-content: end;
    flex-wrap: wrap;
    overflow: hidden;
}

#bigbox>.bigbox_brick {
    z-index: 8;
    position: relative;
    box-shadow: inset 0 0 #000000;
    border-collapse: collapse;
    box-sizing: border-box;
}

#bigbox>.bigbox_brick.bigbox_brick_normal {
    aspect-ratio: 4 / 3;
}

#bigbox>.bigbox_brick.bigbox_brick_half {
    aspect-ratio: 2 / 3;
}

#bigbox>.bigbox_brick.bigbox_brick_odd {
    background-color: rgba(255, 0, 0, 0.3);
}

#bigbox>.bigbox_brick.bigbox_brick_even {
    background-color: blue;
}

#showbox_round {
    z-index: 10;

    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}

#showbox {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8ed7d2;
    /* From https://css.glass */
    clip-path: polygon(51% 5%,
            /* middle top*/
            93% 5%,
            /* right top*/
            93% 28.5%,
            /* right center*/
            93% 52%,
            /* right bootom*/
            51% 52%,
            /* middle bootom*/
            7% 52%,
            /* left bootom*/
            7% 28.5%,
            /* left center*/
            7% 5%);
    /* left top*/
}

#crane-box {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* clip-path: polygon(16% 4.8%, 27% 4.6%, 27% 8%, 16% 8%); */
    clip-path: polygon(16% 5%, 27% 5%, 27% 8%, 16% 8%);
    transform-origin: center bottom;
}

#crane-all {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#crane-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(127, 127, 127);
    clip-path: polygon(21% 5%, 22% 5%, 22% 25%, 21% 25%);
    transition: clip-path 0.8s;
}

#crane-hand-top {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    clip-path: circle(3% at 21.5% 25%);
    transition: clip-path 0.8s;
}

#crane-hand-bottom {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8ed7d2;
    clip-path: circle(2% at 21.5% 25%);
    transition: clip-path 0.8s;
}

#crane-hand-bottom-bottom {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8ed7d2;
    clip-path: circle(2% at 21.5% 27%);
    transition: clip-path 0.8s;
}

.consolebox-button {
    cursor: url("../res/cursor/cursor_hand.cur"), auto;
}

.consolebox-button:active {
    cursor: url("../res/cursor/cursor_grabbingHand.cur"), auto;
}

#insertCoin {
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 38%;
    width: 30%;
    aspect-ratio: 1280/1409;
    background-image: url("./img/crawl/insert_coin.png");
    background-size: contain;
    animation: animate_bboombboom ease 0.5s infinite;
    display: none;
}

#consolebox-top {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #febabd;
    clip-path: polygon(30% 54%, 74% 54%, 78% 59%, 24% 59%);
}

#consolebox-top::before {
    z-index: 9;
    content: "";
    position: absolute;
    background-color: #febabd;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Adjust the border width and color as needed */
    clip-path: polygon(30.3% 54.3%, 73.7% 54.3%, 77.2% 58.7%, 24.8% 58.7%);
}

#consolebox-front {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b2b3b2;
    /* clip-path: polygon(78% 59%, 24% 59%, 24% 63%, 78% 63%); */
    clip-path: polygon(24% 59%, 78% 59%, 76% 64%, 26% 64%);
}

#consolebox-front::before {
    z-index: 9;
    content: "";
    position: absolute;
    background-color: #f5f8f5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    clip-path: polygon(24% 59%, 78% 59%, 75.7% 63.2%, 26.3% 63.2%);
}

#consolebox-bar-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* top: 50%;
    left: 34%;
    width: calc(36% - 34%);
    height: calc(56% - 50%); */
    background-color: rgb(146, 139, 139);
    clip-path: polygon(34% 50%, 36% 50%, 36% 56%, 34% 56%);
}

#consolebox-bar-body-foot-shadow {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 101, 101);
    clip-path: ellipse(2% 1% at 35% 56%);
}

#consolebox-bar-body-foot {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(146, 139, 139);
    clip-path: circle(0.9% at 35% 56%);
}

#consolebox-bar-body-head {
    z-index: 10;
    position: absolute;
    top: 48%;
    left: 33%;
    width: 4%;
    aspect-ratio: 600 / 600;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /* clip-path: circle(2% at 35% 50%); */
    cursor: url("../res/cursor/cursor_hand.cur"), auto;
}

#consolebox-bar-body-head:active {
    cursor: url("../res/cursor/cursor_grabbingHand.cur"), auto;
}

#consolebox-bar-body-head-area {
    z-index: 10;
    position: absolute;
    top: 48%;
    left: 30.5%;
    background-color: rgba(255, 0, 0, 0);
    width: calc(9%);
    height: calc(5%);
}

#consolebox-bar-body-head-shine {
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    clip-path: ellipse(25% 10% at 52% 12%);
    transform: rotate(40deg);
}

#consolebox-button-foot {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 101, 101);
    clip-path: ellipse(3% 1% at 65% 57%);
}

#consolebox-button-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 117, 0);
    clip-path: polygon(62.5% 55%, 67.5% 55%, 67.5% 57%, 62.5% 57%);
    transition: clip-path 0.3s;
}

#consolebox-button-body-foot {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 117, 0);
    clip-path: ellipse(2.5% 0.5% at 65% 57%);
}

#consolebox-button-head {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 145, 0);
    clip-path: ellipse(2.5% 0.5% at 65% 55%);
    transition: clip-path 0.3s;
}

#prize-box-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/iron.jpg");
    clip-path: polygon(11% 71%, 36% 71%, 36% 88%, 11% 88%);
}

#prize-box-body-screw-tl {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/marble.png");
    clip-path: circle(0.8% at 12.6% 72.2%);
}

#prize-box-body-screw-tr {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/marble.png");
    clip-path: circle(0.8% at 34.3% 72.2%);
}

#prize-box-body-screw-br {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/marble.png");
    clip-path: circle(0.8% at 34.3% 86.7%);
}

#prize-box-body-screw-bl {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/marble.png");
    clip-path: circle(0.8% at 12.6% 86.7%);
}

#prize-box-front-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/iron_black_shine.jpg");
    clip-path: polygon(15% 74%, 32% 74%, 32% 86%, 15% 86%);
}

#prize-box-front-top {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 145, 0);
    clip-path: polygon(15% 74%, 32% 74%, 32% 75.5%, 15% 75.5%);
}

#prize-box-front-left {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 145, 0);
    clip-path: polygon(15% 74%, 17% 74%, 17% 86%, 15% 86%);
}

#prize-box-front-right {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 145, 0);
    clip-path: polygon(30% 74%, 32% 74%, 32% 86%, 30% 86%);
}

#prize-box-front-glass {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    clip-path: polygon(16% 75%, 31% 75%, 31% 86%, 16% 86%);
}

#prize-box-front-glass::before {
    content: "";
    z-index: 10;
    position: absolute;
    top: 75%;
    left: 16%;
    width: calc(31% - 16%);
    height: calc(86% - 75%);
    background-image: url("./img/crawl/glass.png");
    opacity: 0.6;
    background-size: 100% 100%;
}

#prize-box-front-glass:hover::before {
    transform-origin: left top;
    animation: animate_scrwalMachine_prize_fliper 3s ease forwards,
        animate_cursor_boxaction 0.4s steps(3) infinite;
}

#prize-box-front-glass:not(:hover)::before {
    transform-origin: left top;
    animation: animate_scrwalMachine_prize_fliper_re 2s ease forwards;
}

#coinslot-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/iron.jpg");
    clip-path: polygon(86% 66%, 92% 66%, 92% 75%, 86% 75%);
    animation: animate_cursor_coinspin 1s steps(5) infinite;
}

#coinslot-hole {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/crawl/iron_black.jpg");
    clip-path: polygon(88% 68%, 90% 68%, 90% 74%, 88% 74%);
}

#coinslot-hole-head {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    clip-path: polygon(87.5% 67.5%, 90.5% 67.5%, 90.5% 69%, 87.5% 69%);
}

#coinslot-hole::before {
    content: "";
    z-index: 20;
    position: absolute;
    top: 68%;
    left: 88%;
    width: calc(90% - 88%);
    height: calc(74% - 68%);
    /* not use now */

    animation: animate_cursor_coinspin 1s steps(5) infinite;
}

/* #prize-box-back {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 3, 3);
    clip-path: polygon(15% 75%, 31% 75%, 31% 86%, 15% 86%);

}

#prize-box-head-head {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    clip-path: ellipse(8% 3% at 23% 75%);

}

#prize-box-head-body {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    clip-path: polygon(15% 75%, 31% 75%, 31% 78%, 15% 78%);

}

#prize-box-head-foot {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    clip-path: ellipse(8% 2% at 23% 78%);

}

#prize-box-body-foot-shadow {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(151, 149, 149);
    clip-path: ellipse(8% 1.9% at 23% 86.2%);
    --clip-path: polygon(30% 87%, 28% 88.5%, 27% 89%, 
    23% 89.3%, 
    19% 89%, 18% 88.5%, 16% 87%, 
    15% 86%, 31% 86%); --

}

#prize-box-body-foot {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    clip-path: ellipse(8% 1% at 23% 86%);
    --clip-path: polygon(30% 87%, 28% 88.5%, 27% 89%, 
    23% 89.3%, 
    19% 89%, 18% 88.5%, 16% 87%, 
    15% 86%, 31% 86%); --

} */