@keyframes animate_goodbuy {
    0% { transform : scale(1.15); opacity : 1; }

1% { transform : scale(1.14); opacity : 1; }

2% { transform : scale(1.13); opacity : 1; }

3% { transform : scale(1.12); opacity : 1; }

4% { transform : scale(1.10); opacity : 1; }

5% { transform : scale(1.09); opacity : 1; }

6% { transform : scale(1.08); opacity : 1; }

7% { transform : scale(1.07); opacity : 1; }

8% { transform : scale(1.06); opacity : 1; }

9% { transform : scale(1.05); opacity : 1; }

10% { transform : scale(1.03); opacity : 1; }

11% { transform : scale(1.02); opacity : 1; }

12% { transform : scale(1.01); opacity : 1; }

13% { transform : scale(1.00); opacity : 1; }

14% { transform : scale(0.99); opacity : 1; }

15% { transform : scale(0.98); opacity : 1; }

16% { transform : scale(0.97); opacity : 1; }

17% { transform : scale(0.95); opacity : 1; }

18% { transform : scale(0.94); opacity : 1; }

19% { transform : scale(0.93); opacity : 1; }

20% { transform : scale(0.92); opacity : 1; }

21% { transform : scale(0.91); opacity : 1; }

22% { transform : scale(0.90); opacity : 1; }

23% { transform : scale(0.89); opacity : 1; }

24% { transform : scale(0.87); opacity : 1; }

25% { transform : scale(0.86); opacity : 1; }

26% { transform : scale(0.85); opacity : 1; }

27% { transform : scale(0.84); opacity : 1; }

28% { transform : scale(0.83); opacity : 1; }

29% { transform : scale(0.82); opacity : 1; }

30% { transform : scale(0.80); opacity : 1; }

31% { transform : scale(0.79); opacity : 1; }

32% { transform : scale(0.78); opacity : 1; }

33% { transform : scale(0.77); opacity : 1; }

34% { transform : scale(0.76); opacity : 1; }

35% { transform : scale(0.75); opacity : 1; }

36% { transform : scale(0.74); opacity : 1; }

37% { transform : scale(0.72); opacity : 1; }

38% { transform : scale(0.71); opacity : 1; }

39% { transform : scale(0.70); opacity : 1; }

40% { transform : scale(0.69); opacity : 1; }

41% { transform : scale(0.68); opacity : 1; }

42% { transform : scale(0.67); opacity : 1; }

43% { transform : scale(0.66); opacity : 1; }

44% { transform : scale(0.64); opacity : 1; }

45% { transform : scale(0.63); opacity : 1; }

46% { transform : scale(0.62); opacity : 1; }

47% { transform : scale(0.61); opacity : 1; }

48% { transform : scale(0.60); opacity : 1; }

49% { transform : scale(0.59); opacity : 1; }

50% { transform : scale(0.57); opacity : 1; }

51% { transform : scale(0.56); opacity : 0.49; }

52% { transform : scale(0.55); opacity : 0.48; }

53% { transform : scale(0.54); opacity : 0.47; }

54% { transform : scale(0.53); opacity : 0.46; }

55% { transform : scale(0.52); opacity : 0.45; }

56% { transform : scale(0.51); opacity : 0.44; }

57% { transform : scale(0.49); opacity : 0.43; }

58% { transform : scale(0.48); opacity : 0.42; }

59% { transform : scale(0.47); opacity : 0.41; }

60% { transform : scale(0.46); opacity : 0.40; }

61% { transform : scale(0.45); opacity : 0.39; }

62% { transform : scale(0.44); opacity : 0.38; }

63% { transform : scale(0.43); opacity : 0.37; }

64% { transform : scale(0.41); opacity : 0.36; }

65% { transform : scale(0.40); opacity : 0.35; }

66% { transform : scale(0.39); opacity : 0.34; }

67% { transform : scale(0.38); opacity : 0.33; }

68% { transform : scale(0.37); opacity : 0.32; }

69% { transform : scale(0.36); opacity : 0.31; }

70% { transform : scale(0.34); opacity : 0.30; }

71% { transform : scale(0.33); opacity : 0.29; }

72% { transform : scale(0.32); opacity : 0.28; }

73% { transform : scale(0.31); opacity : 0.27; }

74% { transform : scale(0.30); opacity : 0.26; }

75% { transform : scale(0.29); opacity : 0.25; }

76% { transform : scale(0.28); opacity : 0.24; }

77% { transform : scale(0.26); opacity : 0.23; }

78% { transform : scale(0.25); opacity : 0.22; }

79% { transform : scale(0.24); opacity : 0.21; }

80% { transform : scale(0.23); opacity : 0.20; }

81% { transform : scale(0.22); opacity : 0.19; }

82% { transform : scale(0.21); opacity : 0.18; }

83% { transform : scale(0.20); opacity : 0.17; }

84% { transform : scale(0.18); opacity : 0.16; }

85% { transform : scale(0.17); opacity : 0.15; }

86% { transform : scale(0.16); opacity : 0.14; }

87% { transform : scale(0.15); opacity : 0.13; }

88% { transform : scale(0.14); opacity : 0.12; }

89% { transform : scale(0.13); opacity : 0.11; }

90% { transform : scale(0.11); opacity : 0.10; }

91% { transform : scale(0.10); opacity : 0.09; }

92% { transform : scale(0.09); opacity : 0.08; }

93% { transform : scale(0.08); opacity : 0.07; }

94% { transform : scale(0.07); opacity : 0.06; }

95% { transform : scale(0.06); opacity : 0.05; }

96% { transform : scale(0.05); opacity : 0.04; }

97% { transform : scale(0.03); opacity : 0.03; }

98% { transform : scale(0.02); opacity : 0.02; }

99% { transform : scale(0.01); opacity : 0.01; }

100% { transform : scale(0.00); opacity : 0.00; }
}
@keyframes animate_box_loading3{
    0% { opacity : 0; }

1% { opacity : 0; }

2% { opacity : 0; }

3% { opacity : 0; }

4% { opacity : 0; }

5% { opacity : 0; }

6% { opacity : 0; }

7% { opacity : 0; }

8% { opacity : 0; }

9% { opacity : 0; }

10% { opacity : 0; }

11% { opacity : 0; }

12% { opacity : 0; }

13% { opacity : 0; }

14% { opacity : 0; }

15% { opacity : 0; }

16% { opacity : 0; }

17% { opacity : 0; }

18% { opacity : 0; }

19% { opacity : 0; }

20% { opacity : 0; }

21% { opacity : 0; }

22% { opacity : 0; }

23% { opacity : 0; }

24% { opacity : 0; }

25% { opacity : 0; }

26% { opacity : 0; }

27% { opacity : 0; }

28% { opacity : 0; }

29% { opacity : 0; }

30% { opacity : 0; }

31% { opacity : 0; }

32% { opacity : 0; }

33% { opacity : 0; }

34% { opacity : 0; }

35% { opacity : 0; }

36% { opacity : 0; }

37% { opacity : 0; }

38% { opacity : 0; }

39% { opacity : 0; }

40% { opacity : 0; }

41% { opacity : 0; }

42% { opacity : 0; }

43% { opacity : 0; }

44% { opacity : 0; }

45% { opacity : 0; }

46% { opacity : 0; }

47% { opacity : 0; }

48% { opacity : 0; }

49% { opacity : 0; }

50% { opacity : 0; }

51% { opacity : 0.51; }

52% { opacity : 0.52; }

53% { opacity : 0.53; }

54% { opacity : 0.54; }

55% { opacity : 0.55; }

56% { opacity : 0.56; }

57% { opacity : 0.57; }

58% { opacity : 0.58; }

59% { opacity : 0.59; }

60% { opacity : 0.60; }

61% { opacity : 0.61; }

62% { opacity : 0.62; }

63% { opacity : 0.63; }

64% { opacity : 0.64; }

65% { opacity : 0.65; }

66% { opacity : 0.66; }

67% { opacity : 0.67; }

68% { opacity : 0.68; }

69% { opacity : 0.69; }

70% { opacity : 0.70; }

71% { opacity : 0.71; }

72% { opacity : 0.72; }

73% { opacity : 0.73; }

74% { opacity : 0.74; }

75% { opacity : 0.75; }

76% { opacity : 0.76; }

77% { opacity : 0.77; }

78% { opacity : 0.78; }

79% { opacity : 0.79; }

80% { opacity : 0.80; }

81% { opacity : 0.81; }

82% { opacity : 0.82; }

83% { opacity : 0.83; }

84% { opacity : 0.84; }

85% { opacity : 0.85; }

86% { opacity : 0.86; }

87% { opacity : 0.87; }

88% { opacity : 0.88; }

89% { opacity : 0.89; }

90% { opacity : 0.90; }

91% { opacity : 0.91; }

92% { opacity : 0.92; }

93% { opacity : 0.93; }

94% { opacity : 0.94; }

95% { opacity : 0.95; }

96% { opacity : 0.96; }

97% { opacity : 0.97; }

98% { opacity : 0.98; }

99% { opacity : 0.99; }

100% { opacity : 1.00; }
}
@keyframes animate_box_loading{
    0% { opacity : 1; }

1% { opacity : 1; }

2% { opacity : 1; }

3% { opacity : 1; }

4% { opacity : 1; }

5% { opacity : 1; }

6% { opacity : 1; }

7% { opacity : 1; }

8% { opacity : 1; }

9% { opacity : 1; }

10% { opacity : 1; }

11% { opacity : 1; }

12% { opacity : 1; }

13% { opacity : 1; }

14% { opacity : 1; }

15% { opacity : 1; }

16% { opacity : 1; }

17% { opacity : 1; }

18% { opacity : 1; }

19% { opacity : 1; }

20% { opacity : 1; }

21% { opacity : 1; }

22% { opacity : 1; }

23% { opacity : 1; }

24% { opacity : 1; }

25% { opacity : 1; }

26% { opacity : 1; }

27% { opacity : 1; }

28% { opacity : 1; }

29% { opacity : 1; }

30% { opacity : 1; }

31% { opacity : 1; }

32% { opacity : 1; }

33% { opacity : 1; }

34% { opacity : 1; }

35% { opacity : 1; }

36% { opacity : 1; }

37% { opacity : 1; }

38% { opacity : 1; }

39% { opacity : 1; }

40% { opacity : 1; }

41% { opacity : 1; }

42% { opacity : 1; }

43% { opacity : 1; }

44% { opacity : 1; }

45% { opacity : 1; }

46% { opacity : 1; }

47% { opacity : 1; }

48% { opacity : 1; }

49% { opacity : 1; }

50% { opacity : 1; }

51% { opacity : 0.49; }

52% { opacity : 0.48; }

53% { opacity : 0.47; }

54% { opacity : 0.46; }

55% { opacity : 0.45; }

56% { opacity : 0.44; }

57% { opacity : 0.43; }

58% { opacity : 0.42; }

59% { opacity : 0.41; }

60% { opacity : 0.40; }

61% { opacity : 0.39; }

62% { opacity : 0.38; }

63% { opacity : 0.37; }

64% { opacity : 0.36; }

65% { opacity : 0.35; }

66% { opacity : 0.34; }

67% { opacity : 0.33; }

68% { opacity : 0.32; }

69% { opacity : 0.31; }

70% { opacity : 0.30; }

71% { opacity : 0.29; }

72% { opacity : 0.28; }

73% { opacity : 0.27; }

74% { opacity : 0.26; }

75% { opacity : 0.25; }

76% { opacity : 0.24; }

77% { opacity : 0.23; }

78% { opacity : 0.22; }

79% { opacity : 0.21; }

80% { opacity : 0.20; }

81% { opacity : 0.19; }

82% { opacity : 0.18; }

83% { opacity : 0.17; }

84% { opacity : 0.16; }

85% { opacity : 0.15; }

86% { opacity : 0.14; }

87% { opacity : 0.13; }

88% { opacity : 0.12; }

89% { opacity : 0.11; }

90% { opacity : 0.10; }

91% { opacity : 0.09; }

92% { opacity : 0.08; }

93% { opacity : 0.07; }

94% { opacity : 0.06; }

95% { opacity : 0.05; }

96% { opacity : 0.04; }

97% { opacity : 0.03; }

98% { opacity : 0.02; }

99% { opacity : 0.01; }

100% { opacity : 0.00; display: none; }
}

@keyframes animate_box_loading2{
    0%{
        background-color: #bec3c3;
    }
    80%{
        background-color: #bec3c3;
    }
    100%{
        background-color: #000;
    }
}

@keyframes animate_box_button_bright{
    0%{
        filter: brightness(100%);
        transform: scale(1);
    }
    25%{
        filter: brightness(80%);
        transform: scale(0.98);
    }
    50%{
        filter: brightness(110%);
        transform: scale(1.02);
    }
    75%{
        filter: brightness(100%);
        transform: scale(1);
    }
}
@keyframes animate_box_top_opa {
    from{
        opacity: 0.6;
    }
    to{
        opacity: 0;
    }
    
}
@keyframes animate_box_top {0% { transform : scaleY(100.00%); }

1% { transform : scaleY(98.00%); }

2% { transform : scaleY(96.00%); }

3% { transform : scaleY(94.00%); }

4% { transform : scaleY(92.00%); }

5% { transform : scaleY(90.00%); }

6% { transform : scaleY(88.00%); }

7% { transform : scaleY(86.00%); }

8% { transform : scaleY(84.00%); }

9% { transform : scaleY(82.00%); }

10% { transform : scaleY(80.00%); }

11% { transform : scaleY(78.00%); }

12% { transform : scaleY(76.00%); }

13% { transform : scaleY(74.00%); }

14% { transform : scaleY(72.00%); }

15% { transform : scaleY(70.00%); }

16% { transform : scaleY(68.00%); }

17% { transform : scaleY(66.00%); }

18% { transform : scaleY(64.00%); }

19% { transform : scaleY(62.00%); }

20% { transform : scaleY(60.00%); }

21% { transform : scaleY(58.00%); }

22% { transform : scaleY(56.00%); }

23% { transform : scaleY(54.00%); }

24% { transform : scaleY(52.00%); }

25% { transform : scaleY(50.00%); }

26% { transform : scaleY(48.00%); }

27% { transform : scaleY(46.00%); }

28% { transform : scaleY(44.00%); }

29% { transform : scaleY(42.00%); }

30% { transform : scaleY(40.00%); }

31% { transform : scaleY(38.00%); }

32% { transform : scaleY(36.00%); }

33% { transform : scaleY(34.00%); }

34% { transform : scaleY(32.00%); }

35% { transform : scaleY(30.00%); }

36% { transform : scaleY(28.00%); }

37% { transform : scaleY(26.00%); }

38% { transform : scaleY(24.00%); }

39% { transform : scaleY(22.00%); }

40% { transform : scaleY(20.00%); }

41% { transform : scaleY(18.00%); }

42% { transform : scaleY(16.00%); }

43% { transform : scaleY(14.00%); }

44% { transform : scaleY(12.00%); }

45% { transform : scaleY(10.00%); }

46% { transform : scaleY(8.00%); }

47% { transform : scaleY(6.00%); }

48% { transform : scaleY(4.00%); }

49% { transform : scaleY(2.00%); }

50% { transform : scaleY(0.00%); }

50% { transform : scaleY(-0.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.00px -0.00px 1px 0px black, inset 0.00px -0.00px 1px 0px black; }

51% { transform : scaleY(-2.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.08px -0.08px 1px 0px black, inset 0.08px -0.08px 1px 0px black; }

52% { transform : scaleY(-4.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.16px -0.16px 1px 0px black, inset 0.16px -0.16px 1px 0px black; }

53% { transform : scaleY(-6.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.24px -0.24px 1px 0px black, inset 0.24px -0.24px 1px 0px black; }

54% { transform : scaleY(-8.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.32px -0.32px 1px 0px black, inset 0.32px -0.32px 1px 0px black; }

55% { transform : scaleY(-10.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.40px -0.40px 1px 0px black, inset 0.40px -0.40px 1px 0px black; }

56% { transform : scaleY(-12.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.48px -0.48px 1px 0px black, inset 0.48px -0.48px 1px 0px black; }

57% { transform : scaleY(-14.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.56px -0.56px 1px 0px black, inset 0.56px -0.56px 1px 0px black; }

58% { transform : scaleY(-16.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.64px -0.64px 1px 0px black, inset 0.64px -0.64px 1px 0px black; }

59% { transform : scaleY(-18.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.72px -0.72px 1px 0px black, inset 0.72px -0.72px 1px 0px black; }

60% { transform : scaleY(-20.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.80px -0.80px 1px 0px black, inset 0.80px -0.80px 1px 0px black; }

61% { transform : scaleY(-22.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.88px -0.88px 1px 0px black, inset 0.88px -0.88px 1px 0px black; }

62% { transform : scaleY(-24.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -0.96px -0.96px 1px 0px black, inset 0.96px -0.96px 1px 0px black; }

63% { transform : scaleY(-26.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.04px -1.04px 1px 0px black, inset 1.04px -1.04px 1px 0px black; }

64% { transform : scaleY(-28.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.12px -1.12px 1px 0px black, inset 1.12px -1.12px 1px 0px black; }

65% { transform : scaleY(-30.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.20px -1.20px 1px 0px black, inset 1.20px -1.20px 1px 0px black; }

66% { transform : scaleY(-32.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.28px -1.28px 1px 0px black, inset 1.28px -1.28px 1px 0px black; }

67% { transform : scaleY(-34.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.36px -1.36px 1px 0px black, inset 1.36px -1.36px 1px 0px black; }

68% { transform : scaleY(-36.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.44px -1.44px 1px 0px black, inset 1.44px -1.44px 1px 0px black; }

69% { transform : scaleY(-38.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.52px -1.52px 1px 0px black, inset 1.52px -1.52px 1px 0px black; }

70% { transform : scaleY(-40.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.60px -1.60px 1px 0px black, inset 1.60px -1.60px 1px 0px black; }

71% { transform : scaleY(-42.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.68px -1.68px 1px 0px black, inset 1.68px -1.68px 1px 0px black; }

72% { transform : scaleY(-44.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.76px -1.76px 1px 0px black, inset 1.76px -1.76px 1px 0px black; }

73% { transform : scaleY(-46.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.84px -1.84px 1px 0px black, inset 1.84px -1.84px 1px 0px black; }

74% { transform : scaleY(-48.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -1.92px -1.92px 1px 0px black, inset 1.92px -1.92px 1px 0px black; }

75% { transform : scaleY(-50.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.00px -2.00px 1px 0px black, inset 2.00px -2.00px 1px 0px black; }

76% { transform : scaleY(-52.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.08px -2.08px 1px 0px black, inset 2.08px -2.08px 1px 0px black; }

77% { transform : scaleY(-54.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.16px -2.16px 1px 0px black, inset 2.16px -2.16px 1px 0px black; }

78% { transform : scaleY(-56.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.24px -2.24px 1px 0px black, inset 2.24px -2.24px 1px 0px black; }

79% { transform : scaleY(-58.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.32px -2.32px 1px 0px black, inset 2.32px -2.32px 1px 0px black; }

80% { transform : scaleY(-60.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.40px -2.40px 1px 0px black, inset 2.40px -2.40px 1px 0px black; }

81% { transform : scaleY(-62.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.48px -2.48px 1px 0px black, inset 2.48px -2.48px 1px 0px black; }

82% { transform : scaleY(-64.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.56px -2.56px 1px 0px black, inset 2.56px -2.56px 1px 0px black; }

83% { transform : scaleY(-66.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.64px -2.64px 1px 0px black, inset 2.64px -2.64px 1px 0px black; }

84% { transform : scaleY(-68.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.72px -2.72px 1px 0px black, inset 2.72px -2.72px 1px 0px black; }

85% { transform : scaleY(-70.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.80px -2.80px 1px 0px black, inset 2.80px -2.80px 1px 0px black; }

86% { transform : scaleY(-72.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.88px -2.88px 1px 0px black, inset 2.88px -2.88px 1px 0px black; }

87% { transform : scaleY(-74.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -2.96px -2.96px 1px 0px black, inset 2.96px -2.96px 1px 0px black; }

88% { transform : scaleY(-76.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.04px -3.04px 1px 0px black, inset 3.04px -3.04px 1px 0px black; }

89% { transform : scaleY(-78.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.12px -3.12px 1px 0px black, inset 3.12px -3.12px 1px 0px black; }

90% { transform : scaleY(-80.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.20px -3.20px 1px 0px black, inset 3.20px -3.20px 1px 0px black; }

91% { transform : scaleY(-82.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.28px -3.28px 1px 0px black, inset 3.28px -3.28px 1px 0px black; }

92% { transform : scaleY(-84.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.36px -3.36px 1px 0px black, inset 3.36px -3.36px 1px 0px black; }

93% { transform : scaleY(-86.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.44px -3.44px 1px 0px black, inset 3.44px -3.44px 1px 0px black; }

94% { transform : scaleY(-88.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.52px -3.52px 1px 0px black, inset 3.52px -3.52px 1px 0px black; }

95% { transform : scaleY(-90.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.60px -3.60px 1px 0px black, inset 3.60px -3.60px 1px 0px black; }

96% { transform : scaleY(-92.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.68px -3.68px 1px 0px black, inset 3.68px -3.68px 1px 0px black; }

97% { transform : scaleY(-94.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.76px -3.76px 1px 0px black, inset 3.76px -3.76px 1px 0px black; }

98% { transform : scaleY(-96.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.84px -3.84px 1px 0px black, inset 3.84px -3.84px 1px 0px black; }

99% { transform : scaleY(-98.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -3.92px -3.92px 1px 0px black, inset 3.92px -3.92px 1px 0px black; }

100% { transform : scaleY(-100.00%); box-shadow: inset 4px 4px 1px 0px black, inset -4px 4px 1px 0px black, inset -4.00px -4.00px 1px 0px black, inset 4.00px -4.00px 1px 0px black; }}
@keyframes animate_lightBeam_bottom_action {
    0% {
        clip-path: ellipse(10% 2% at 10% 90%);
    }

    1% {
        clip-path: ellipse(10% 2% at 10.8% 90%);
    }

    2% {
        clip-path: ellipse(10% 2% at 11.6% 90%);
    }

    3% {
        clip-path: ellipse(10% 2% at 12.4% 90%);
    }

    4% {
        clip-path: ellipse(10% 2% at 13.2% 90%);
    }

    5% {
        clip-path: ellipse(10% 2% at 14% 90%);
    }

    6% {
        clip-path: ellipse(10% 2% at 14.8% 90%);
    }

    7% {
        clip-path: ellipse(10% 2% at 15.6% 90%);
    }

    8% {
        clip-path: ellipse(10% 2% at 16.4% 90%);
    }

    9% {
        clip-path: ellipse(10% 2% at 17.2% 90%);
    }

    10% {
        clip-path: ellipse(10% 2% at 18% 90%);
    }

    11% {
        clip-path: ellipse(10% 2% at 18.8% 90%);
    }

    12% {
        clip-path: ellipse(10% 2% at 19.6% 90%);
    }

    13% {
        clip-path: ellipse(10% 2% at 20.4% 90%);
    }

    14% {
        clip-path: ellipse(10% 2% at 21.2% 90%);
    }

    15% {
        clip-path: ellipse(10% 2% at 22% 90%);
    }

    16% {
        clip-path: ellipse(10% 2% at 22.8% 90%);
    }

    17% {
        clip-path: ellipse(10% 2% at 23.6% 90%);
    }

    18% {
        clip-path: ellipse(10% 2% at 24.4% 90%);
    }

    19% {
        clip-path: ellipse(10% 2% at 25.2% 90%);
    }

    20% {
        clip-path: ellipse(10% 2% at 26% 90%);
    }

    21% {
        clip-path: ellipse(10% 2% at 26.8% 90%);
    }

    22% {
        clip-path: ellipse(10% 2% at 27.6% 90%);
    }

    23% {
        clip-path: ellipse(10% 2% at 28.4% 90%);
    }

    24% {
        clip-path: ellipse(10% 2% at 29.2% 90%);
    }

    25% {
        clip-path: ellipse(10% 2% at 30% 90%);
    }

    26% {
        clip-path: ellipse(10% 2% at 30.8% 90%);
    }

    27% {
        clip-path: ellipse(10% 2% at 31.6% 90%);
    }

    28% {
        clip-path: ellipse(10% 2% at 32.4% 90%);
    }

    29% {
        clip-path: ellipse(10% 2% at 33.2% 90%);
    }

    30% {
        clip-path: ellipse(10% 2% at 34% 90%);
    }

    31% {
        clip-path: ellipse(10% 2% at 34.8% 90%);
    }

    32% {
        clip-path: ellipse(10% 2% at 35.6% 90%);
    }

    33% {
        clip-path: ellipse(10% 2% at 36.4% 90%);
    }

    34% {
        clip-path: ellipse(10% 2% at 37.2% 90%);
    }

    35% {
        clip-path: ellipse(10% 2% at 38% 90%);
    }

    36% {
        clip-path: ellipse(10% 2% at 38.8% 90%);
    }

    37% {
        clip-path: ellipse(10% 2% at 39.6% 90%);
    }

    38% {
        clip-path: ellipse(10% 2% at 40.4% 90%);
    }

    39% {
        clip-path: ellipse(10% 2% at 41.2% 90%);
    }

    40% {
        clip-path: ellipse(10% 2% at 42% 90%);
    }

    41% {
        clip-path: ellipse(10% 2% at 42.8% 90%);
    }

    42% {
        clip-path: ellipse(10% 2% at 43.6% 90%);
    }

    43% {
        clip-path: ellipse(10% 2% at 44.4% 90%);
    }

    44% {
        clip-path: ellipse(10% 2% at 45.2% 90%);
    }

    45% {
        clip-path: ellipse(10% 2% at 46% 90%);
    }

    46% {
        clip-path: ellipse(10% 2% at 46.8% 90%);
    }

    47% {
        clip-path: ellipse(10% 2% at 47.6% 90%);
    }

    48% {
        clip-path: ellipse(10% 2% at 48.4% 90%);
    }

    49% {
        clip-path: ellipse(10% 2% at 49.2% 90%);
    }

    50% {
        clip-path: ellipse(10% 2% at 50% 90%);
    }

    51% {
        clip-path: ellipse(10% 2% at 50.8% 90%);
    }

    52% {
        clip-path: ellipse(10% 2% at 51.6% 90%);
    }

    53% {
        clip-path: ellipse(10% 2% at 52.4% 90%);
    }

    54% {
        clip-path: ellipse(10% 2% at 53.2% 90%);
    }

    55% {
        clip-path: ellipse(10% 2% at 54% 90%);
    }

    56% {
        clip-path: ellipse(10% 2% at 54.8% 90%);
    }

    57% {
        clip-path: ellipse(10% 2% at 55.6% 90%);
    }

    58% {
        clip-path: ellipse(10% 2% at 56.4% 90%);
    }

    59% {
        clip-path: ellipse(10% 2% at 57.2% 90%);
    }

    60% {
        clip-path: ellipse(10% 2% at 58% 90%);
    }

    61% {
        clip-path: ellipse(10% 2% at 58.8% 90%);
    }

    62% {
        clip-path: ellipse(10% 2% at 59.6% 90%);
    }

    63% {
        clip-path: ellipse(10% 2% at 60.4% 90%);
    }

    64% {
        clip-path: ellipse(10% 2% at 61.2% 90%);
    }

    65% {
        clip-path: ellipse(10% 2% at 62% 90%);
    }

    66% {
        clip-path: ellipse(10% 2% at 62.8% 90%);
    }

    67% {
        clip-path: ellipse(10% 2% at 63.6% 90%);
    }

    68% {
        clip-path: ellipse(10% 2% at 64.4% 90%);
    }

    69% {
        clip-path: ellipse(10% 2% at 65.2% 90%);
    }

    70% {
        clip-path: ellipse(10% 2% at 66% 90%);
    }

    71% {
        clip-path: ellipse(10% 2% at 66.8% 90%);
    }

    72% {
        clip-path: ellipse(10% 2% at 67.6% 90%);
    }

    73% {
        clip-path: ellipse(10% 2% at 68.4% 90%);
    }

    74% {
        clip-path: ellipse(10% 2% at 69.2% 90%);
    }

    75% {
        clip-path: ellipse(10% 2% at 70% 90%);
    }

    76% {
        clip-path: ellipse(10% 2% at 70.8% 90%);
    }

    77% {
        clip-path: ellipse(10% 2% at 71.6% 90%);
    }

    78% {
        clip-path: ellipse(10% 2% at 72.4% 90%);
    }

    79% {
        clip-path: ellipse(10% 2% at 73.2% 90%);
    }

    80% {
        clip-path: ellipse(10% 2% at 74% 90%);
    }

    81% {
        clip-path: ellipse(10% 2% at 74.8% 90%);
    }

    82% {
        clip-path: ellipse(10% 2% at 75.6% 90%);
    }

    83% {
        clip-path: ellipse(10% 2% at 76.4% 90%);
    }

    84% {
        clip-path: ellipse(10% 2% at 77.2% 90%);
    }

    85% {
        clip-path: ellipse(10% 2% at 78% 90%);
    }

    86% {
        clip-path: ellipse(10% 2% at 78.8% 90%);
    }

    87% {
        clip-path: ellipse(10% 2% at 79.6% 90%);
    }

    88% {
        clip-path: ellipse(10% 2% at 80.4% 90%);
    }

    89% {
        clip-path: ellipse(10% 2% at 81.2% 90%);
    }

    90% {
        clip-path: ellipse(10% 2% at 82% 90%);
    }

    91% {
        clip-path: ellipse(10% 2% at 82.8% 90%);
    }

    92% {
        clip-path: ellipse(10% 2% at 83.6% 90%);
    }

    93% {
        clip-path: ellipse(10% 2% at 84.4% 90%);
    }

    94% {
        clip-path: ellipse(10% 2% at 85.2% 90%);
    }

    95% {
        clip-path: ellipse(10% 2% at 86% 90%);
    }

    96% {
        clip-path: ellipse(10% 2% at 86.8% 90%);
    }

    97% {
        clip-path: ellipse(10% 2% at 87.6% 90%);
    }

    98% {
        clip-path: ellipse(10% 2% at 88.4% 90%);
    }

    99% {
        clip-path: ellipse(10% 2% at 89.2% 90%);
    }

    100% {
        clip-path: ellipse(10% 2% at 90% 90%);
    }
}

@keyframes animate_lightBeam_action {
    0% {
        clip-path: polygon(20% 0%, 30% 0%, 20% 90%, 0% 90%);
    }

    1% {
        clip-path: polygon(20.5% 0%, 30.5% 0%, 20.8% 90%, 0.8% 90%);
    }

    2% {
        clip-path: polygon(21% 0%, 31% 0%, 21.6% 90%, 1.6% 90%);
    }

    3% {
        clip-path: polygon(21.5% 0%, 31.5% 0%, 22.4% 90%, 2.4% 90%);
    }

    4% {
        clip-path: polygon(22% 0%, 32% 0%, 23.2% 90%, 3.2% 90%);
    }

    5% {
        clip-path: polygon(22.5% 0%, 32.5% 0%, 24% 90%, 4% 90%);
    }

    6% {
        clip-path: polygon(23% 0%, 33% 0%, 24.8% 90%, 4.8% 90%);
    }

    7% {
        clip-path: polygon(23.5% 0%, 33.5% 0%, 25.6% 90%, 5.6% 90%);
    }

    8% {
        clip-path: polygon(24% 0%, 34% 0%, 26.4% 90%, 6.4% 90%);
    }

    9% {
        clip-path: polygon(24.5% 0%, 34.5% 0%, 27.2% 90%, 7.2% 90%);
    }

    10% {
        clip-path: polygon(25% 0%, 35% 0%, 28% 90%, 8% 90%);
    }

    11% {
        clip-path: polygon(25.5% 0%, 35.5% 0%, 28.8% 90%, 8.8% 90%);
    }

    12% {
        clip-path: polygon(26% 0%, 36% 0%, 29.6% 90%, 9.6% 90%);
    }

    13% {
        clip-path: polygon(26.5% 0%, 36.5% 0%, 30.4% 90%, 10.4% 90%);
    }

    14% {
        clip-path: polygon(27% 0%, 37% 0%, 31.2% 90%, 11.2% 90%);
    }

    15% {
        clip-path: polygon(27.5% 0%, 37.5% 0%, 32% 90%, 12% 90%);
    }

    16% {
        clip-path: polygon(28% 0%, 38% 0%, 32.8% 90%, 12.8% 90%);
    }

    17% {
        clip-path: polygon(28.5% 0%, 38.5% 0%, 33.6% 90%, 13.6% 90%);
    }

    18% {
        clip-path: polygon(29% 0%, 39% 0%, 34.4% 90%, 14.4% 90%);
    }

    19% {
        clip-path: polygon(29.5% 0%, 39.5% 0%, 35.2% 90%, 15.2% 90%);
    }

    20% {
        clip-path: polygon(30% 0%, 40% 0%, 36% 90%, 16% 90%);
    }

    21% {
        clip-path: polygon(30.5% 0%, 40.5% 0%, 36.8% 90%, 16.8% 90%);
    }

    22% {
        clip-path: polygon(31% 0%, 41% 0%, 37.6% 90%, 17.6% 90%);
    }

    23% {
        clip-path: polygon(31.5% 0%, 41.5% 0%, 38.4% 90%, 18.4% 90%);
    }

    24% {
        clip-path: polygon(32% 0%, 42% 0%, 39.2% 90%, 19.2% 90%);
    }

    25% {
        clip-path: polygon(32.5% 0%, 42.5% 0%, 40% 90%, 20% 90%);
    }

    26% {
        clip-path: polygon(33% 0%, 43% 0%, 40.8% 90%, 20.8% 90%);
    }

    27% {
        clip-path: polygon(33.5% 0%, 43.5% 0%, 41.6% 90%, 21.6% 90%);
    }

    28% {
        clip-path: polygon(34% 0%, 44% 0%, 42.4% 90%, 22.4% 90%);
    }

    29% {
        clip-path: polygon(34.5% 0%, 44.5% 0%, 43.2% 90%, 23.2% 90%);
    }

    30% {
        clip-path: polygon(35% 0%, 45% 0%, 44% 90%, 24% 90%);
    }

    31% {
        clip-path: polygon(35.5% 0%, 45.5% 0%, 44.8% 90%, 24.8% 90%);
    }

    32% {
        clip-path: polygon(36% 0%, 46% 0%, 45.6% 90%, 25.6% 90%);
    }

    33% {
        clip-path: polygon(36.5% 0%, 46.5% 0%, 46.4% 90%, 26.4% 90%);
    }

    34% {
        clip-path: polygon(37% 0%, 47% 0%, 47.2% 90%, 27.2% 90%);
    }

    35% {
        clip-path: polygon(37.5% 0%, 47.5% 0%, 48% 90%, 28% 90%);
    }

    36% {
        clip-path: polygon(38% 0%, 48% 0%, 48.8% 90%, 28.8% 90%);
    }

    37% {
        clip-path: polygon(38.5% 0%, 48.5% 0%, 49.6% 90%, 29.6% 90%);
    }

    38% {
        clip-path: polygon(39% 0%, 49% 0%, 50.4% 90%, 30.4% 90%);
    }

    39% {
        clip-path: polygon(39.5% 0%, 49.5% 0%, 51.2% 90%, 31.2% 90%);
    }

    40% {
        clip-path: polygon(40% 0%, 50% 0%, 52% 90%, 32% 90%);
    }

    41% {
        clip-path: polygon(40.5% 0%, 50.5% 0%, 52.8% 90%, 32.8% 90%);
    }

    42% {
        clip-path: polygon(41% 0%, 51% 0%, 53.6% 90%, 33.6% 90%);
    }

    43% {
        clip-path: polygon(41.5% 0%, 51.5% 0%, 54.4% 90%, 34.4% 90%);
    }

    44% {
        clip-path: polygon(42% 0%, 52% 0%, 55.2% 90%, 35.2% 90%);
    }

    45% {
        clip-path: polygon(42.5% 0%, 52.5% 0%, 56% 90%, 36% 90%);
    }

    46% {
        clip-path: polygon(43% 0%, 53% 0%, 56.8% 90%, 36.8% 90%);
    }

    47% {
        clip-path: polygon(43.5% 0%, 53.5% 0%, 57.6% 90%, 37.6% 90%);
    }

    48% {
        clip-path: polygon(44% 0%, 54% 0%, 58.4% 90%, 38.4% 90%);
    }

    49% {
        clip-path: polygon(44.5% 0%, 54.5% 0%, 59.2% 90%, 39.2% 90%);
    }

    50% {
        clip-path: polygon(45% 0%, 55% 0%, 60% 90%, 40% 90%);
    }

    51% {
        clip-path: polygon(45.5% 0%, 55.5% 0%, 60.8% 90%, 40.8% 90%);
    }

    52% {
        clip-path: polygon(46% 0%, 56% 0%, 61.6% 90%, 41.6% 90%);
    }

    53% {
        clip-path: polygon(46.5% 0%, 56.5% 0%, 62.4% 90%, 42.4% 90%);
    }

    54% {
        clip-path: polygon(47% 0%, 57% 0%, 63.2% 90%, 43.2% 90%);
    }

    55% {
        clip-path: polygon(47.5% 0%, 57.5% 0%, 64% 90%, 44% 90%);
    }

    56% {
        clip-path: polygon(48% 0%, 58% 0%, 64.8% 90%, 44.8% 90%);
    }

    57% {
        clip-path: polygon(48.5% 0%, 58.5% 0%, 65.6% 90%, 45.6% 90%);
    }

    58% {
        clip-path: polygon(49% 0%, 59% 0%, 66.4% 90%, 46.4% 90%);
    }

    59% {
        clip-path: polygon(49.5% 0%, 59.5% 0%, 67.2% 90%, 47.2% 90%);
    }

    60% {
        clip-path: polygon(50% 0%, 60% 0%, 68% 90%, 48% 90%);
    }

    61% {
        clip-path: polygon(50.5% 0%, 60.5% 0%, 68.8% 90%, 48.8% 90%);
    }

    62% {
        clip-path: polygon(51% 0%, 61% 0%, 69.6% 90%, 49.6% 90%);
    }

    63% {
        clip-path: polygon(51.5% 0%, 61.5% 0%, 70.4% 90%, 50.4% 90%);
    }

    64% {
        clip-path: polygon(52% 0%, 62% 0%, 71.2% 90%, 51.2% 90%);
    }

    65% {
        clip-path: polygon(52.5% 0%, 62.5% 0%, 72% 90%, 52% 90%);
    }

    66% {
        clip-path: polygon(53% 0%, 63% 0%, 72.8% 90%, 52.8% 90%);
    }

    67% {
        clip-path: polygon(53.5% 0%, 63.5% 0%, 73.6% 90%, 53.6% 90%);
    }

    68% {
        clip-path: polygon(54% 0%, 64% 0%, 74.4% 90%, 54.4% 90%);
    }

    69% {
        clip-path: polygon(54.5% 0%, 64.5% 0%, 75.2% 90%, 55.2% 90%);
    }

    70% {
        clip-path: polygon(55% 0%, 65% 0%, 76% 90%, 56% 90%);
    }

    71% {
        clip-path: polygon(55.5% 0%, 65.5% 0%, 76.8% 90%, 56.8% 90%);
    }

    72% {
        clip-path: polygon(56% 0%, 66% 0%, 77.6% 90%, 57.6% 90%);
    }

    73% {
        clip-path: polygon(56.5% 0%, 66.5% 0%, 78.4% 90%, 58.4% 90%);
    }

    74% {
        clip-path: polygon(57% 0%, 67% 0%, 79.2% 90%, 59.2% 90%);
    }

    75% {
        clip-path: polygon(57.5% 0%, 67.5% 0%, 80% 90%, 60% 90%);
    }

    76% {
        clip-path: polygon(58% 0%, 68% 0%, 80.8% 90%, 60.8% 90%);
    }

    77% {
        clip-path: polygon(58.5% 0%, 68.5% 0%, 81.6% 90%, 61.6% 90%);
    }

    78% {
        clip-path: polygon(59% 0%, 69% 0%, 82.4% 90%, 62.4% 90%);
    }

    79% {
        clip-path: polygon(59.5% 0%, 69.5% 0%, 83.2% 90%, 63.2% 90%);
    }

    80% {
        clip-path: polygon(60% 0%, 70% 0%, 84% 90%, 64% 90%);
    }

    81% {
        clip-path: polygon(60.5% 0%, 70.5% 0%, 84.8% 90%, 64.8% 90%);
    }

    82% {
        clip-path: polygon(61% 0%, 71% 0%, 85.6% 90%, 65.6% 90%);
    }

    83% {
        clip-path: polygon(61.5% 0%, 71.5% 0%, 86.4% 90%, 66.4% 90%);
    }

    84% {
        clip-path: polygon(62% 0%, 72% 0%, 87.2% 90%, 67.2% 90%);
    }

    85% {
        clip-path: polygon(62.5% 0%, 72.5% 0%, 88% 90%, 68% 90%);
    }

    86% {
        clip-path: polygon(63% 0%, 73% 0%, 88.8% 90%, 68.8% 90%);
    }

    87% {
        clip-path: polygon(63.5% 0%, 73.5% 0%, 89.6% 90%, 69.6% 90%);
    }

    88% {
        clip-path: polygon(64% 0%, 74% 0%, 90.4% 90%, 70.4% 90%);
    }

    89% {
        clip-path: polygon(64.5% 0%, 74.5% 0%, 91.2% 90%, 71.2% 90%);
    }

    90% {
        clip-path: polygon(65% 0%, 75% 0%, 92% 90%, 72% 90%);
    }

    91% {
        clip-path: polygon(65.5% 0%, 75.5% 0%, 92.8% 90%, 72.8% 90%);
    }

    92% {
        clip-path: polygon(66% 0%, 76% 0%, 93.6% 90%, 73.6% 90%);
    }

    93% {
        clip-path: polygon(66.5% 0%, 76.5% 0%, 94.4% 90%, 74.4% 90%);
    }

    94% {
        clip-path: polygon(67% 0%, 77% 0%, 95.2% 90%, 75.2% 90%);
    }

    95% {
        clip-path: polygon(67.5% 0%, 77.5% 0%, 96% 90%, 76% 90%);
    }

    96% {
        clip-path: polygon(68% 0%, 78% 0%, 96.8% 90%, 76.8% 90%);
    }

    97% {
        clip-path: polygon(68.5% 0%, 78.5% 0%, 97.6% 90%, 77.6% 90%);
    }

    98% {
        clip-path: polygon(69% 0%, 79% 0%, 98.4% 90%, 78.4% 90%);
    }

    99% {
        clip-path: polygon(69.5% 0%, 79.5% 0%, 99.2% 90%, 79.2% 90%);
    }

    100% {
        clip-path: polygon(70% 0%, 80% 0%, 100% 90%, 80% 90%);
    }
}

@keyframes animate_scrwalMachine_prize_fliper_re {
    0% {
        transform: skewX(6deg) scaleX(1) scaleY(0.6);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes animate_scrwalMachine_prize_fliper {
    0% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(6deg) scaleX(1) scaleY(0.6);
    }
}

@keyframes animate_scrwalMachine_saking {
    0% {
        transform: skewX(0deg) scaleY(1) scaleX(1.1);
    }

    25% {
        transform: skewX(5deg) scaleY(1.05);
    }

    50% {
        transform: skewX(0deg) scaleY(1) scaleX(1.1);
    }

    75% {
        transform: skewX(-5deg) scaleY(1.05);
    }

    100% {
        transform: skewX(0deg) scaleY(1) scaleX(1.1);
    }
}

@keyframes animate_light_Acchonburike {
    0% {
        background-image: url("./img/light/popper_cover.png");
    }

    50% {
        background-image: url("./img/light/popper_pop.png");
    }

    100% {
        background-image: url("./img/light/popper_empty.png");
    }
}

@keyframes animate_cursor_coinspin {
    0% {
        cursor: url("../res/cursor/cursor_coin_spin/cursor_coin_spin_1.cur"), auto;
    }

    20% {
        cursor: url("../res"), auto;
    }

    40% {
        cursor: url("../res/cursor/cursor_coin_spin/cursor_coin_spin_3.cur"), auto;
    }

    60% {
        cursor: url("../res/cursor/cursor_coin_spin/cursor_coin_spin_4.cur"), auto;
    }

    80% {
        cursor: url("../res/cursor/cursor_coin_spin/cursor_coin_spin_5.cur"), auto;
    }

    100% {
        cursor: url("../res/cursor/cursor_coin_spin/cursor_coin_spin_1.cur"), auto;
    }
}

@keyframes animate_cursor_boxaction {
    0% {
        cursor: url("../res/cursor/cursor_box_action/cursor_action_box_1.cur"), auto;
    }

    33% {
        cursor: url("../res/cursor/cursor_box_action/cursor_action_box_2.cur"), auto;
    }

    66% {
        cursor: url("../res/cursor/cursor_box_action/cursor_action_box_3.cur"), auto;
    }

    100% {
        cursor: url("../res/cursor/cursor_box_action/cursor_action_box_2.cur"), auto;
    }
}

@keyframes animate_bubble {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes animate_smoothApper {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate_bboombboom {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.04);
    }

    95% {
        transform: scale(1);
    }
}
